@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Montserrat Bold';
    src: url('./fonts/montserrat-bold.ttf');
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('./fonts/montserrat-medium.ttf');
}

html,body {
    scroll-behavior: smooth;
    min-height: 100vh;
    background-color: #022127;
}

body {
    z-index: 0;
    font-family: "Montserrat Medium", sans-serif;
    background-size: 100%;
    position: relative;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat Bold", sans-serif;
}